@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
.navbar-brand {
  font-family: "Cardo";
}

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
}

h1 {
  margin-top: 50px !important;
}

h1 {
  font-family: "Cardo";
}
h1 span {
  position: relative;
}
h1 span::before {
  content: "";
  position: absolute;
  background-color: #27a776;
  height: 40%;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 3px;
}

.dropdown-item:hover,
.nav-link:hover {
  background-color: transparent;
  color: white !important;
  transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
}

.button-title {
  background-color: #27a776;
}
.button-title:hover {
  background-color: #20c997;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.fa-brands:hover {
  color: white !important;
  cursor: pointer;
}

.cards {
  overflow: hidden;
}

.cards .backg {
  width: 100%;
  height: 100%;
}

.cards:hover .backg {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
}

.cards img {
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

.cards:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.backg {
  opacity: 0;
}

.backg:hover {
  opacity: 1;
}

.hr {
  font-weight: bold;
  color: gray;
  border: 1px solid gray;
}

.fa-circle-arrow-up {
  font-size: 60px;
  color: #27a776;
  position: relative;
  cursor: pointer;
}
.fa-circle-arrow-up::after {
  content: "";
  background-color: white;
  width: 36px;
  position: absolute;
  top: 9px;
  bottom: 0;
  height: 40px;
  left: 13px;
  z-index: -1;
}

/****************************************************************************************!ABOUT PAGE**********************************************************************************************/
h1 {
  font-size: 30px !important;
}

.span::after {
  content: "";
  width: 150px;
  height: 2px;
  position: relative;
  background-color: #27a776;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin-left: 10px;
}

.rounded-circle {
  width: 100px;
  border: 5px solid gray !important;
  -webkit-border: 5px solid gray !important;
  -moz-border: 5px solid gray !important;
  -ms-border: 5px solid gray !important;
  -o-border: 5px solid gray !important;
}

.h-one {
  font-size: 56px !important;
}

/***********************************************************!contact*********************************************************/
.ico-contact {
  font-size: 30px;
  color: #27a776;
}

.ico-bg {
  width: 60px;
  height: 60px;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

strong {
  color: gray;
}

.feat {
  border: 1px solid rgb(44, 43, 43);
  background-color: rgb(44, 43, 43);
}

.icon {
  width: 50px;
  height: 50px;
  border: none !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tbl {
  width: 45%;
}

.sect-tbl {
  width: 90%;
  margin: auto;
}

.titl h5::after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #27a776;
  display: inline-block;
  margin-left: 20px;
}

.tbl1 {
  width: 90%;
}

.containt-service {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.containt-service:hover::after {
  top: 0;
}
.containt-service:hover .icon {
  background-color: white !important;
  color: #27a776 !important;
}
.containt-service::after {
  content: "";
  position: absolute;
  top: -100%;
  background-color: #27a776;
  overflow: hidden;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

.brd {
  border-bottom: 1px dashed gray !important;
  padding-bottom: 5px !important;
}

.carte1 {
  border: 1px solid black;
}

.crt1,
.crt3 {
  opacity: 0.4 !important;
}

.crt2 {
  box-shadow: yellow 0px 5px 15px !important;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/*# sourceMappingURL=portfolio.css.map */
